/*= Reset CSS 
============= */
html, body {border: 0; margin: 0; padding: 0;}
body {font: 14px "Lato", Arial, sans-serif; color: #666;}
.container{margin: 0 auto; max-width: 1200px;}
*{margin: 0; padding: 0; box-sizing: border-box;}

h2{text-align: center; color: #2079df; font-size: 28px; float: left; width: 100%; margin: 30px 0; position: relative; line-height: 58px; font-weight: 400;}
h2:before{content: ""; position: absolute; left: 50%; bottom: 0; width: 100px; height: 2px; background-color: #2079df; margin-left: -50px;}
/*= Reset CSS End
================= */

html {
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-image: url('temp_bg.webp');
    /* background-image: url('Untitled.png'); */

    font-family: 'Be Vietnam Pro';
}

*::-webkit-scrollbar {
    background: rgba(0,0,0,0 );
    width: 6px;
    border-radius: 8px;    
}
*::-webkit-scrollbar-thumb {
    background: rgba( 255, 255, 255, 0.2 );
    width: 6px;
    border-radius: 8px;
}

img {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    
}

.flex-containter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel {
    width: 60rem;
    height: 40rem;
    padding: 1rem;
    
    background: #212121;
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 2rem;
}

.category-btn {
    width: 100%;
    height: 2.5rem;
    border: 0px solid rgba( 255, 255, 255, 0.5 );    
    border-radius: 8px;
    background: #333;

    color: black;
    font-size: 1rem;
}
#category .col {
    flex: 1;
    transition: flex 0.5s ease-out;
}
#category .col:hover {
    flex: 1.2;
}
#category .col.active
{
    flex: 1.5;
}
#category .col.active *
{
    flex: 1.5;
    background: #666;
    color: whitesmoke
}
#category .col button {
    transition: 0.05s ease-in-out;
}
#category .col button:hover {
    border: 2px solid rgba( 255, 255, 255, 0.5 );
}

.blueprint-btn {
    width: 7rem;
    height: 7rem;
    padding: 0.5rem;
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.45);
    border: 0;
    color: whitesmoke;
    
    position: relative;
    transition: all 0.2s ease-out;
}
.blueprint-btn:hover {
    transform: scale(1.1, 1.1);
    border: 2px solid rgba( 255, 255, 255, 0.5 );
    box-shadow: 4px 6px 4px 1px rgba(0, 0, 0, 0.3);
}
.blueprint-btn:active {
    transform: scale(1.1, 1.1);    
}
.blueprint-label {
    position: absolute;
    top: 10%;
    width: 100%;
    height: 20%;
    margin-left: -0.5rem;
    padding: 0 0.5rem;
    font-size: 0.5rem;
    font-weight: 700;
    text-align: center;
}
.blueprint-amount {
    position: absolute;
    bottom: 5%;
    right: 10%;
    text-align: right;    
}
.blueprint-img-holder {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.blueprint-img {
    width: 60%;
    width: 60%;
}

.item-box{
    position: relative;
    width: 8rem;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1.5rem;
    padding: 0.5rem;
}
#item-amount {
    width: 100%;
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    text-align: right;
    font-size: 1rem;
    color: whitesmoke;
    padding-right: 1rem;
}
#item-name {
    color: whitesmoke;
    font-size: 1.2rem;    
    text-align: center;
}

.recipe-container {
    height: 42%;
    overflow-y: auto;
}
#recipe-list {
    display: flex;
    flex-direction: column;
    gap: 0.85rem;
    padding-right: 0.5rem;
}
.recipe-item {
    position: relative;
    display: flex;
    height: 4.5rem;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    padding-right: 2rem;
    border: 0;
    background-color: rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in;
}
.recipe-item:not(.nocursor):hover {
    transform: scale(0.98);
}

.recipe-item i {
    position:absolute;
    bottom: 0;
    right: 0;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.3);
}
.recipe-item.nocursor {
    cursor: default;
}
.recipe-item.invalid {
    background-color: #ff001925;
}
.recipe-item img {
    width: 3rem;
    height: 3rem;
}
.recipe-item-label, .recipe-item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: whitesmoke
}

.confirmation button {
    height: 65%;
    /* background: rgba( 255, 255, 255, 0.5 ); */
    font-size: 16px;
    font-weight: bold;
    border: 1px solid;

    transition: background-color 0.2s ease-in-out, color 0.2s ease-in;    
}
.confirmation :nth-child(1){
    font-size: 1.5rem;
    border-radius: 0.5rem 0 0 0.5rem;
}
.confirmation :nth-child(1):hover:enabled {
    color: #dc3545;
}

.confirmation :nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65%;

    background-color: rgba(0, 0, 0, 0.5);
    color: whitesmoke;
}

.confirmation :nth-child(3) {
    font-size: 1.5rem;
    border-radius: 0 0.5rem 0.5rem 0;
}

.confirmation :nth-child(3):hover:enabled {
    color:#198754;
}

.confirmation :nth-child(4) {
    border-radius: 8px;
    margin-left: 0.5rem;
}

.confirmation :nth-child(4):hover:enabled {
    color: darkgoldenrod;
}

.confirmation :nth-child(1):active:not(:enabled),
.confirmation :nth-child(3):active:not(:enabled),
.confirmation :nth-child(4):active:not(:enabled)
{
    background-color: #dc3545;
}

#craft {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;    
    border-radius: 1rem;
    border: 0;
    font-size: 1.5rem;

    transition: box-shadow 0.4s ease-out, color 0.2s ease-out, background-color 0.2s ease-out, transform 0.1s ease-in-out;
}

#craft:hover:enabled {
    color: #198754;
    box-shadow: 0px 1px 8px 3px #1abc9c;
}

#craft:active:enabled{
    transform: scale(1.05);
}

#craft:active:not(:enabled) {
    background-color: #dc3545;
}